p, h2, label, .emptyinfo {
	color: #555;
}
tr {
	height: 40px !important;
}

#PasswordsTableContent .icon-delete,
#PasswordsTableContent .icon-notes,
#PasswordsTableContent .icon-share {
	opacity: 0.3;
}
#PasswordsTableContent .icon-delete:hover,
#PasswordsTableContent .icon-notes:hover,
#PasswordsTableContent .icon-share:hover {
	opacity: 1;
	cursor: pointer;
}
.actual-note {
	opacity: 0 !important;
}
.actual-note:hover {
	opacity: 0.3 !important;
}
#PasswordsTableContent .icon-notes {
	background-image: url(../img/notes.svg);
}
.icon-notes span {
	display: none;
}

.is_website a {
	color: #00a !important;
}
.is_website a:hover {
	text-decoration: underline;
}
.edit_value {
	margin-left: 5px;
	vertical-align: middle;
	opacity: 0.5;
	visibility: hidden;
}
td:hover > .edit_value {
	visibility: visible;
}
.edit_value:hover {
	opacity: 1;
	cursor: pointer;
}
.hide_always,
#hide_always {
	display: none;
}
.websitepic {
	vertical-align: middle;
	height: 16px;
	width: 16px;
	margin-right: 5px;
}
#add_password_div {
	border: 1px solid #ddd;
	margin-top: 10px;
	margin-left: 5%;
	margin-right: 5%;
	padding: 4%;
}
.icon-passwords {
	background-image: url(../img/app_black.svg);
}
.icon-passwords-blocked {
	background-image: url(../img/app_red.svg);
}
h3,
#new_password_add,
#new_generate,
#new_website,
#new_address,
#new_username,
#new_password {
	margin-left: 3%;
	margin-bottom: 2%;
	width: 85%;
	height: 26px;
}
#new_notes {
	margin-left: 3%;
	margin-bottom: 2%;
	width: 85%;
}
#new_password_add,
#new_generate {
	margin-left: 12%;
}
#add_password_div img {
	width: 18px;
	opacity: 0.5;
	background-size: 100%;
	vertical-align: sub;
}
#new_password {
	/*font-family: 'Consolas';*/
}
#gen_lower,
#gen_upper,
#gen_numbers,
#gen_special,
#gen_length,
#generate-strength {
	margin-left: 10%;
}
#generate-strength {
	text-align: center;
	margin-right: 10%;
}
#gen_length {
	width: 38px;
}
#generate-passwordtools {
	display: none;
}

h3 {
	color: #555;
	font-weight: bold;
	text-align: center;
}
#new_password_add {
	font-weight: bold !important;
}
#PasswordsTable table {
	border: 0;
	width: 100%;
}
#PasswordsTable table th {
	color: #555;
	font-weight: bold;
	border: 0;
	text-align: center;
	padding-bottom: 10px;
	word-wrap: break-word;
}
#PasswordsTable table th:hover {
	cursor: pointer;
	text-decoration: underline;
}
#PasswordsTable table td {
	color: #555;
	text-align: center;
	border: 0;
	border-bottom: 1px solid #ddd;
	padding-top: 5px;
	padding-bottom: 5px;
}
td #FieldLengthCheck {
	width: 200px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	display: inline;
}
th#FieldLengthCheck {
	/* align head: 16px for notes img, 5px for margin-left of notes img: */
	padding-right: 21px;
}
#FieldLengthCheck:hover {
	text-decoration: underline;
	cursor: pointer;
}
#emptycontent {
	display: none;
}
#blockedcontent {
  font-size: 16px;
  color: #888;
  position: absolute;
  text-align: center;
  top: 30%;
  width: 75%;
  margin-left: 12.5%;
}
#blockedcontent [class^="icon-"], 
#blockedcontent [class*=" icon-"] {
	background-size: 64px;
	height: 64px;
	width: 64px;
	margin: 0 auto 15px;
}
#blockedcontent h2 {
  font-size: 22px;
  margin-bottom: 10px; 
  color: #a00;
  font-weight: bold;
}
.green,
green {
	color: #0a0 !important;
}
.red,
red {
	color: #a00 !important;
}
.orange,
orange {
	color: #c80 !important;
}

.hide_attributes {
	display: none;
}
.hidevalue {
	text-indent: -9999px;
	line-height: 0;
}
.hidevalue:hover {
	cursor: pointer;
	text-indent: 0px;
}
.hidevalue:hover::after {
	content: "";
}
.hidevalue::after {
	content: "*****";
	text-indent: 0;
	display: block;
	margin-top: -8px;
}

#PasswordsTableSearch {
	width: 90%;
	margin: 0 auto;
	margin-top: 10px;
}
#search_clear {
	height: 26px;
	float: right;
	margin-right: 0px;
	width: 30%;
}
#search_text {
	width: 65%;
	height: 26px;
}
/* x days ago */
.creation_date:hover span {
	display: none;
}
.creation_date span {
	color: inherit !important;
}

td[title]:hover:after {
	content: attr(title);
	position: relative !important;
	font-style: italic;
}
#app-settings-backup {
	/* Will be shown when backup_allowed is true */
	/* This is a bugfix for IE7 and lower */
	display: none;
}

#other-csv-list {
	display: none;
}
.other-csv-list input {
	width: 30px !important;
	text-align: center;
	height: 23px;
	position: absolute;
	right: 25px;
	margin-top: -3px;
}
#subtitle {
	font-style: italic;
	margin-bottom: 5px;
}
#headers-csv {
	height: 16px;
	margin-top: 2px;
	margin-right: 3px;
}
.other-csv-list {
	margin-bottom: 6px;
	margin-left: 10px;
}
#upload_csv {
	color: #555;
	margin-top: 10px;
	width: 100%;
}


/* old */
#app-content-wrapper {
	height: 100%;
}

/* Editor CSS */
#overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	z-index: 98;
	background-color: Black;
	opacity: .6;
}

#popup {
	position: absolute;
	top: 25%;
	left: 50%;
	width: 300px;
	margin-left:-150px;
	z-index: 99;
	opacity: 1;
}
#popupTitle {
	width: 100%;
	height: 40px;
	background: #102044;
	color: #FFF;
	font-size: 2em;
	vertical-align: middle;
	padding:10px;
}
#popupContent {
	width: 100%;
	height: 75%;
	background: #EEE;
	padding: 10px;
}
#popupButtons {
	width: 100%;
	height: 40px;
	padding: 0px 10px;
	background: #DDD;
}

/* hide if screen too small */
@media screen and (max-width: 1200px) {
	/* booleans */
	#hide1 {
		display: none;
	}
}
@media screen and (max-width: 1050px) {
	/* length and creation date */
	#hide2 {
		display: none;
	}
}
@media screen and (max-width: 900px) {
	/* strength */
	#hide3 {
		display: none;
	}
}
@media screen and (max-width: 600px) {
	/* mobile phone etc. */
	#PasswordsTable table {
		table-layout: fixed;
		font-size: 80%;
	}
	#PasswordsTableContent .icon-delete,
	#PasswordsTableContent .icon-notes,
	#PasswordsTableContent .icon-share {
		background-size: 20% !important;
	}
	#PasswordsTable table td {
		word-wrap: break-word;
	}
}
@media screen and (max-width: 450px) {
	/* mobile phone etc. */
	#PasswordsTable table {
		font-size: 60%;
	}
}
