#CSVcontent,
#CSVcolumnCount {
	display: none;
}
#CSVbuttons button.CSVbuttonOff {
	background-color: #ddd !important;
	color: #555 !important;
	transition: all 200ms !important;
}
#CSVbuttons button {
	background-color: #0a0 !important;
	color: #fff !important;
	width: 175px;
	height: 50px;
	transition: all 200ms !important;
	float: left;
	border: 0 !important;
	border-radius: 10px !important;
	font-weight: normal;
}
#CSVbuttons button:hover {
	opacity: 0.75 !important;
	transition: all 200ms !important;
}
#CSVtableDIV {
	display: none;
	position: fixed;
	background: #fff;
	padding: 20px;
	border: 1px solid #999;
	max-width: 95%;
}
#CSVtableScroll {
	overflow-y: auto;
	margin-top: 5px;
	overflow-x: hidden;
}
#CSVtableDIV h2 {
	font-size: 2em;
	font-weight: bold;
	margin-bottom: 10px;
}
#CSVtableDIV h3 {
	font-size: 1.2em;
	font-weight: bold;
	text-align: left;
	margin: 0;
}
#CSVtable {
	border-collapse: collapse;
}
#CSVtable td {
	border: 0 !important;
	text-align: center;
}
#CSVtable thead td {
	border-top: 0;
	text-align: center;
}
#CSVtable tr {
	border-bottom: 1px solid #ddd !important;
}
#CSVtable textarea {
	height: 50px;
	width: 100%;
	text-align: center;
	resize: none;
	background: transparent !important;
	border: 0 !important;
	color: #000 !important;
}
#CSVtable select {
	margin: 5px;
	opacity: 0.9;
	text-indent: 5px;
	width: 90%;
}
#CSVtable input[type="checkbox"] {
	-ms-transform: scale(2, 2);
	-webkit-transform: scale(2, 2);
	transform: scale(2, 2);
}
.CSVcolumnInvalid {
	background: #a00;
}
#importStart,
#importCancel {
	float: right;
	margin-top: 10px;
}
#CSVerrorfield {
	padding-top: 10px;
}
#CSVerrorfield p {
	background: #a00;
	color: #fff;
	padding: 5px;
	font-weight: bold;
}
#CSVprogressDIV {
	position: fixed;
	top: 25%;
	left: 37%;
	border: 2px solid #555;
	width: 26%;
	min-width: 300px;
	height: 125px;
	background: #fff;
	margin-left: auto;
	margin-right: auto;
	display: none;
}
#CSVprogressActive,
#CSVprogressTotal {
	display: none;
}
#CSVprogressTitle,
#CSVprogressText2 {
	text-align: center;
	color: #555;
	font-weight: bold;
}
#CSVprogressText1 {
	text-align: center;
	color: #555;
}
#CSVprogressTitle {
	font-size: 1.2em;
	margin-top: 5px;
	margin-bottom: 15px;
}
#CSVprogressBar {
	border: 2px solid #555;
	margin-left: 20px;
	margin-right: 20px;
	height: 20px;
}
#CSVprogressDone {
	width:0px;
	background: #555;
	height: 18px
}

p, h2, label, .emptyinfo {
	color: #555;
}
tr {
	height: 40px !important;
}
#PasswordsTableContent .icon-delete,
#PasswordsTableContent .icon-notes,
#PasswordsTableContent .icon-history,
#PasswordsTableContent .icon-info,
#PasswordsTableContent .icon-share {
	opacity: 0.3;
}
#PasswordsTableContent .icon-delete:hover,
#PasswordsTableContent .icon-notes:hover,
#PasswordsTableContent .icon-history:hover,
#PasswordsTableContent .icon-info:hover,
#PasswordsTableContent .icon-share:hover {
	opacity: 1;
	cursor: pointer;
}
#PasswordsTableContent .icon-info {
	min-width: 30px;
	background-size: 26px;
}
#column_notes,
#column_delete,
#column_info {
	min-width: 30px;
}
.actual-note {
	opacity: 0 !important;
}
.actual-note:hover {
	opacity: 0.3 !important;
}
#PasswordsTableContent .icon-notes {
	background-image: url(../img/notes.svg);
}
.icon-notes span,
.icon-history span {
	display: none;
}

.is_website a {
	color: #00a !important;
}
.is_website a:hover {
	text-decoration: underline;
}
.edit_value {
	margin-left: 5px;
	vertical-align: middle;
	opacity: 0.5;
	visibility: hidden;
}
td:hover > .edit_value {
	visibility: visible;
}
.edit_value:hover {
	opacity: 1;
	cursor: pointer;
}
.hide_always,
#hide_always {
	display: none;
}
.websitepic {
	vertical-align: middle;
	height: 16px;
	width: 16px;
	margin-right: 5px;
}
#add_password_div {
	border: 1px solid #ddd;
	margin-top: 10px;
	margin-left: 5%;
	margin-right: 5%;
	padding: 4%;
}
.icon-passwords {
	background-image: url(../img/app_black.svg);
}
.icon-passwords-blocked {
	background-image: url(../img/app_red.svg);
}
h3,
#new_password_add,
#new_generate,
#new_website,
#new_address,
#new_username,
#new_password,
#new_notes {
	margin-left: 3%;
	margin-bottom: 2%;
	width: 85%;
	height: 26px;
	padding-top: 3px;
}
#new_notes {
	height: 52px !important;
}
#new_password_add,
#new_generate {
	margin-left: 12%;
}
.icon-rename {
	margin-bottom: 22px;
}
#add_password_div img {
	width: 18px;
	opacity: 0.5;
	background-size: 100%;
	vertical-align: sub;
}
#new_password {
	/*font-family: 'Consolas';*/
}
#gen_lower,
#gen_upper,
#gen_numbers,
#gen_special,
#gen_length,
#generate_strength {
	margin-left: 10%;
}
#generate_strength {
	text-align: center;
	margin-right: 10%;
}
#gen_length,
#gen_length_popup {
	width: 38px;
}
#generate_passwordtools {
	display: none;
}

h3 {
	color: #555;
	font-weight: bold;
	text-align: center;
}
#new_password_add {
	font-weight: bold !important;
}
#PasswordsTable table {
	border: 0;
	width: 100%;
}
#PasswordsTable table th {
	color: #555;
	font-weight: bold;
	border: 0;
	text-align: center;
	padding-bottom: 10px;
	word-wrap: break-word;
}
#PasswordsTable table th:hover {
	cursor: pointer;
	text-decoration: underline;
}
#PasswordsTable table td {
	color: #555;
	text-align: center;
	border: 0;
	border-bottom: 1px solid #ddd;
	padding-top: 5px;
	padding-bottom: 5px;
}
td #FieldLengthCheck {
	max-width: 150px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	display: inline-block;
}
th#FieldLengthCheck {
	/* align head: 16px for notes img, 5px for margin-left of notes img: */
	padding-right: 21px;
	width: 200px;
}
div#FieldLengthCheck:not(.hidevalue) {
	vertical-align: middle;
}
#hide2 {
	/* creation date */
	width: 150px;
}
#FieldLengthCheck:hover {
	text-decoration: underline;
	cursor: pointer;
}
#emptycontent {
	display: none;
}
#emptytrashbin {
	display: none;
	font-size: 16px;
	color: #888;
	position: absolute;
	text-align: center;
	top: 30%;
	width: 100%;
}
#emptytrashbin h2 {
	font-size: 22px;
	margin-bottom: 10px;
}
#cleartrashbin {
	text-align: center;
	display: none;
}
#cleartrashbin #delete_trashbin {
	font-weight: bold !important;
	padding: 10px;
	border-width: 3px !important;
}

#emptytrashbin [class^="icon-"], 
.emptytrashbin [class^="icon-"], 
#emptytrashbin [class*=" icon-"], 
.emptytrashbin [class*=" icon-"] {
	background-size: 64px;
	height: 64px;
	width: 64px;
	margin: 0 auto 15px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
	opacity: .4;
}
#blockedcontent {
  font-size: 16px;
  color: #888;
  position: absolute;
  text-align: center;
  top: 30%;
  width: 75%;
  margin-left: 12.5%;
}
#blockedcontent [class^="icon-"], 
#blockedcontent [class*=" icon-"] {
	background-size: 64px;
	height: 64px;
	width: 64px;
	margin: 0 auto 15px;
}
#blockedcontent h2 {
  font-size: 22px;
  margin-bottom: 10px; 
  color: #a00;
  font-weight: bold;
}
#session_lifetime {
	display: none;
}
#idleTimer {
	width: 50px;
	height: 50px;
	right: 10px;
	bottom: 10px;
	border: 2px solid #ddd;
	background-color: #eee;
}
#idleTimer,
#outerRing {
	position: fixed;
	border-radius: 25px;
	display: none;
	z-index: 10000;
}
#explnSec {
	position: fixed;
	bottom: 70px;
	right: 0;
	width: 100px;
	text-align: center;
	opacity: 0;
	transition: all 150ms; /* for out */
	z-index: 10001;
}
#idleTimer:hover > #explnSec {
	opacity: 1;
	transition: all 400ms; /* for in */
}
#explnSec:hover {
	opacity: 0 !important;
}
#outerRing {
	animation: rotate 1s linear infinite; 
	width: 40px;
	height: 40px;
	right: 15px;
	bottom: 15px;
}
#outerRing:before { 
	content: ''; 
	position: absolute; 
	height: 5px; 
	width: 5px; 
	background: #fff; 
	border-radius: 25px;
	animation: rotate 1s linear infinite; 
}
@keyframes rotate { 
  100% { 
    transform:rotate(360deg); 
  } 
}
#countSec {
	text-align: center;
	margin-top: 25%;
	font-size: 16px;
	color: #999;
}
.green,
green {
	color: #0a0 !important;
}
.red,
red {
	color: #a00 !important;
}
.orange,
orange {
	color: #c80 !important;
}

.hide_attributes {
	display: none;
}
.hidevalue {
	text-indent: -9999px;
	line-height: 1;
}
.hidevalue:hover {
	cursor: pointer;
	text-decoration: underline;
	text-indent: 0px;
}
.hidevalue #FieldLengthCheck #FieldLengthCheck {
	margin-bottom: 4px;
	line-height: normal;
}
.hidevalue:hover::after {
	content: "";
}
.hidevalue::after {
	content: "*****";
	text-indent: 0;
	display: block;
	margin-top: -8px;
	/* align: 16px for notes img, 5px for margin-left of notes img: */
	margin-right: 21px;
}

#PasswordsTableSearch {
	width: 90%;
	margin: 0 auto;
	margin-top: 10px;
}
#PasswordsTableSearch p {
	font-style: italic;
}
#search_clear {
	height: 26px;
	float: right;
	margin-right: 0px;
	width: 30%;
	padding-top: 3px;
}
#search_text {
	background: #fff url(../../../core/img/actions/search.svg) no-repeat 6px center;
	padding-left: 26px;
	padding-top: 3px;
	width: 65%;
	height: 26px;
}
/* x days ago */
.creation_date:hover span {
	display: none;
}
.creation_date span {
	color: inherit !important;
}

td[title]:hover:after {
	content: attr(title);
	position: relative !important;
	font-style: italic;
}
#app-settings-backup {
	/* Will be shown when backup_allowed is true */
	/* This is a bugfix for IE7 and lower */
	display: none;
}

#subtitle {
	font-style: italic;
	margin-bottom: 5px;
}

#upload_csv {
	color: #555;
	margin-top: 10px;
	width: 100%;
}

/* Editor */
#overlay {
	position: absolute;
	top: -50%;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 150%;
	z-index: 9998;
	background-color: #000;
	opacity: 0.6;
}

#popup {
	position: fixed;
	top: 0;
	left: 50%;
	width: 300px;
	margin-left: -150px;
	z-index: 9999;
}
#popupTitle {
	width: 100%;
	height: 63px;
	background: #102044;
	color: #fff;
	font-size: 2em;
	vertical-align: middle;
	padding: 10px;
	text-align: center;
	overflow: hidden;
}
#popupSubTitle {
	font-size: 0.5em;
	font-style: italic;
}
#popupContent {
	width: 100%;
	height: 75%;
	background: #eee;
	padding: 10px;
}
#new_value_popup,
#new_address_popup {
	width: 100%;
}
#popupContent p {
	margin-left: 10px;
	margin-right: 10px;
}
#gen_lower_popup,
#gen_upper_popup,
#gen_numbers_popup,
#gen_special_popup,
#gen_length_popup,
#new_generate_popup,
#keep_old_popup,
p#generate_strength_popup {
	margin-left: 25px;
	margin-right: 5px;
}
#keep_old_popup {
	margin-top: 15px;
}

#accept,
#cancel {
	float: right;
	margin-top: 6px;
}
#popupButtons {
	width: 100%;
	height: 40px;
	background: #ddd;
	padding: 0px 10px;
}

/* sidebar */
#passwordSidebar h3 {
	background-color: #eee;
	width: 95%;
	margin: 0;
}
#passwordSidebar {
	margin-left: 20px;
}
#sidebarClose {
	position: absolute;
	top: 0;
	height: 20px;
	width: 25px;
	right: 5%;
	font-size: 16px;
	line-height: 0;
	font-weight: bold !important;
	background: #fff !important;
	color: #555 !important;
}
#sidebarRow {
	display: none;
}
.content-wrapper-sidebar {
	min-width: 0 !important;
	width: 80% !important;
}
#app-sidebar-wrapper {
	width: 17%;
	height: 100%;
	float: right;
	position: fixed;
	right: 0;
	display: none;
	z-index: 1000;
}
.leftCol,
.rightCol {
	float: left; 
	display: inline; 
}
.leftCol {
	width: 40%;
}
.rightCol {
	width: 60%;
}
#sidebarNotes,
#sidebarCategories {
	width: 90%;
	height: 100px;
	color: #000 !important;
	background: transparent !important;
	resize: none;
	border: 0 !important;
	padding: 0;
}
#sidebarNotes {
	font-style: italic;
}
#sidebarNotes:hover,
#sidebarCategories:hover {
	border: 0 !important;
}
#sidebarWebsiteHeader,
#sidebarUsernameHeader,
#sidebarWebsite,
#sidebarUsername {
	max-width: 95%;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
#sidebarUsername,
#sidebarChanged,
#sidebarSpecial {
	margin-bottom: 20px;
}
#sidebarChanged {
	vertical-align: sub;
}


/* old */
#app-content-wrapper {
	height: 100%;
}

/* hide if screen too small */
@media screen and (max-width: 1260px) {
	/* sidebar */
	#column_sidebar, .icon-info, #app-sidebar-wrapper {
		display: none !important;
	}
	.content-wrapper-sidebar {
		min-width: 100% !important;
		width: 100% !important;
	}
}
@media screen and (max-width: 1200px) {
	/* booleans */
	#hide1 {
		display: none;
	}
}
@media screen and (max-width: 1050px) {
	/* length and creation date */
	#hide2 {
		display: none;
	}
}
@media screen and (max-width: 900px) {
	/* strength */
	#hide3 {
		display: none;
	}
}
@media screen and (max-width: 600px) {
	/* mobile phone etc. */
	#PasswordsTable table {
		table-layout: fixed;
		font-size: 80%;
	}
	#PasswordsTableContent .icon-delete,
	#PasswordsTableContent .icon-notes,
	#PasswordsTableContent .icon-share {
		background-size: 20% !important;
	}
	#PasswordsTable table td {
		word-wrap: break-word;
	}
}
@media screen and (max-width: 450px) {
	/* mobile phone etc. */
	#PasswordsTable table {
		font-size: 60%;
	}
}
